<h3>Search with custom logic!</h3>
<hr/>
<br>
<angular2-multiselect 
    [data]="itemList" 
    [(ngModel)]="selectedItems" 
    [settings]="settings" 
    (onSelect)="onItemSelect($event)"
    (onDeSelect)="OnItemDeSelect($event)" 
    (onSelectAll)="onSelectAll($event)" 
    (onDeSelectAll)="onDeSelectAll($event)"
    [customSearch]="true"
    [customSearchCallback]="mySearch"
>
</angular2-multiselect>
<br>
<h3>Default search</h3>
<hr/>
<br>
<angular2-multiselect 
    [data]="itemList" 
    [(ngModel)]="selectedItems" 
    [settings]="settings" 
    (onSelect)="onItemSelect($event)"
    (onDeSelect)="OnItemDeSelect($event)" 
    (onSelectAll)="onSelectAll($event)" 
    (onDeSelectAll)="onDeSelectAll($event)">
</angular2-multiselect>